.logementDetails{
    color: $main-color;
    text-align: center;

    .logementCover{
        width: 90%;
        height: 415px;
        text-align: center;
    }

    .logementInformations{
        text-align: start;
        margin-left: 5%;
    }

    .informations{

        @media (max-width: 800px) {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
        }

        .hostInformations{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-right: 5%;
            margin-bottom: 30px;
            font-size: 18px;

            @media (max-width: 800px) {
                width: 50%;
            }

            @media (max-width: 500px) {
                font-size: 14px;

            }
            .hostPicture{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 20px;
            }
        }

    }

}