.logementDetails {
    color: $main-color;
    text-align: center;

    .logementCover {
        width: 90%;
        height: 415px;
        text-align: center;
    }

    .logementInformations {

        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

      
        

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .logementTitre {
            text-align: start;

        }

        .informations {
            display: flex;
            flex-direction: column;
    
            @media (max-width: 800px) {
                width: 100%;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
               
            }
    
            .hostInformations {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                margin-right: 5%;
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 18px;
    
                @media (max-width: 800px) {
                   width: 50%;
                }
    
                .hostPicture {
                    
                    height: 64px;
                    border-radius: 50%;
                    margin-left: 20px;

                    @media (max-width: 800px) {
                        height: 32px;
                    
                      }
                }
            }

           
    
        }


    }

    

}