.carousel{
    height: 415px;
    width: 90%;
    margin: auto;
    position: relative;

    @media (max-width: 800px) {
        height: 255px;
    
      }


    .carouselImage{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    button{
        appearance: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;

        img{

            height: 80px;

            @media (max-width: 800px) {
                height: 20px;
            
              }
        }

        
    }
    .carouselButtonNext{
        right: 0;
    }

    
    .positionIndicator {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color:none; 
        padding: 5px 10px;
        border-radius: 15px;
        color: white;
        font-weight: 500;
    }
    

}