.containerToggle {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: 800px) {
    flex-direction: column;

  }
}

.toggle {
  flex-basis: 45%;
  position: relative;
  margin-bottom: 20px;
}

.tittleToggle {
  position: relative;
  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: $main-color;
  color: #FFFFFF;
  border-radius: 10px;
  z-index: 2;


  
  

  button{
    background-color: transparent;
    border: none;
    color: #FFFFFF;

    .fa-angle-down,  .fa-angle-up{
      font-size: 32px;
    }
   
  }
}

.containerInformations {
  width: 100%;
  background-color: #f1f1f1;
  height: 0; 
  color: $main-color;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  font-size: 18px;
  transform: translateY(-8px);
  z-index: 1;
  border-radius: 10px;
  

  ul{
    list-style-type: none;
    text-align: start;
    padding-left: 15px;

    li{
      margin-bottom: 8px;
      font-size: medium;
      
    }
  }
}

.containerInformations p {
  text-align: start;
  margin: 15px;
  font-size: medium;
  text-align: justify;
  
}

.toggle.open .containerInformations {
  height: 200px; 
}


