.starRatingContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 800px) {
    width: 50%;
    justify-content: flex-start;
    align-items: center;

  }
  .star {
    font-size: 32px;
    margin-right: 8px;

    @media (max-width: 800px) {
      font-size: 20px;
      margin-left: 5%;
    }
    @media (max-width: 500px) {
      font-size: 14px;

    }
  }



}

